
body {
    background-color: #343a40;
    opacity: 0.8;
}


/*--Top Nav--*/

.navbar-toggler {
    border-color:transparent;
}

#topnav {
    z-index: 1000;
}

.navbar-dark .myBrand {
    color: burlywood;
}

/*--Landing Page and Image--*/

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#landing-page {
    z-index: 1;
}


/*--Footer--*/

.footer-container {
    padding: 10px;
    text-align: center;
}


#logo-footer a {
            color: burlywood;
        }

.copyright a {
    color: black; 
}

.social-links a {
        color: black;
        font-size: 26px;
        padding: 5px 5px 5px 5px;
}
