/*-------------------General scroll behaviour*/

html {
  scroll-behavior: smooth;
}


body {
    color: antiquewhite;
    background-color: rgb(40, 48, 48);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

/*--Top Nav--*/

.navbar-toggler {
    border-color:transparent; /*--possible duplication with BS4--*/
}

#topnav {
    z-index: 1000;
}

.navbar-dark .myBrand {
    color: burlywood;
}

/*--Landing Page and Image--*/

.img-fluid {
    min-width: 100%;
}

#landing-page {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.landing-image {
    max-height: 90vh;
}

.landing-text span{
        position: absolute;
        font-size: 90px;
        color: rgb(218, 151, 63);
        z-index: 500;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; 
        width: 50%; 
    }

/*About Section*/


#about h1 {
    padding-top: 80px;
    padding-bottom: 50px;
}

#about h3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#about p {
    padding-top: 50px;
    padding-bottom: 50px;
}


/*Carousel Section--*/

/* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 450px;
  }

  .carousel-caption {
    font-size: 135%;
    right: 65%;
    left: 2em;
}

/*--More Info section--*/

#more-info {
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-sm-4 {
   padding: 15px;
}

.more-info-header {
   width: 100vw;
   padding-top: 50px;
   padding-bottom: 50px;
}

#more-info h3 {
   width: 100vw; 
   padding-top: 50px;
   padding-bottom: 80px;
}

#more-info .info-btn {
    display: inline-block;
    color: white;
}

.btn-image-1 {
    background-image: url(/assets/images/barrel-bank-home.jpg);
    background-repeat: no-repeat;
    background-size: clip;
    background-position: fixed;
}

.btn-image-2 {
    background-image: url(/assets/images/btn-image-2.jpg);
    background-repeat: no-repeat;
    background-size: clip;
    background-position: fixed;
}

.btn-image-3 {
    background-image: url(/assets/images/btn-image-3.jpg);
    background-repeat: no-repeat;
    background-size: clip;
    background-position: fixed;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: black;
  padding: 18px;
  width: 100%;
  border: 4px solid rgb(218, 151, 63);
  text-align: left;
  outline: none;
  font-size: 15px;
}

/*----------------Overide Chrome defaults on Topnav icon and button collapsibles when active*/

a:focus,
button:focus {
outline: none !important;
}

a:-webkit-any-link{
text-decoration:none !important;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-image: none;  
  background-color: rgb(218, 151, 63);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  border: 1px solid rgb(218, 151, 63);  
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

/*Find Us section*/

#find-us h1 {
   width: 100vw;
   padding-top: 50px;
   padding-bottom: 50px; 
}

#find-us p {
   padding-top: 50px;
   padding-bottom: 50px;  
}

.map {
    display:block;
    padding-bottom: 50px;
    padding-top: 20px;
}

.map div {
    width: 48vw;
    padding: 10px;
    height: 150px;
    background-color: white;
    display: inline-block;
}

/*--Footer--*/

.footer-container {
    padding: 50px 10px 50px 10px;
    text-align: center;
}


#logo-footer a {
            color: burlywood;
        }

.copyright a {
    color: black; 
}

.social-links a {
        color: black;
        font-size: 26px;
        padding: 5px 5px 5px 5px;
}


/*--@media--*/

@media screen and (min-width:1441px) {
    .info-btn {
        max-height: 430px;
        max-width: 25vw;
    }
}

