body {
    color: antiquewhite;
    text-align: center;
    background-color: rgb(40, 48, 48);
}

/*--Top Nav--*/

.navbar-toggler {
    border-color:transparent; /*--possible duplication with BS4--*/
}

#topnav {
    z-index: 1000;
}

.navbar-dark .myBrand {
    color: burlywood;
}

/*--Landing Page and Image--*/

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.img-fluid {
    min-width: 100%;
    max-width: none;
}

#landing-page {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.landing-text span{
        position: absolute;
        font-size: 90px;
        border-radius: 5px;
        color: rgb(218, 151, 63);
        z-index: 500;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; 
        width: 60%; 
    }


/*--Footer--*/

.footer-container {
    padding: 10px;
    text-align: center;
}


#logo-footer a {
            color: burlywood;
        }

.copyright a {
    color: black; 
}

.social-links a {
        color: black;
        font-size: 26px;
        padding: 5px 5px 5px 5px;
}
